<!DOCTYPE html>
<html>
<head>
<title>Upload Questions</title>
</head>

<body>

<h2>Upload Questions</h2>

<label>Category</label><br>
<select id="category">
<option value="">Select Category</option>
</select>

<br><br>

<label>Test</label><br>
<select id="test">
<option value="">Select Test</option>
</select>

<br><br>

<label>Subject</label><br>
<select id="subject">
<option value="">Select Subject</option>
</select>

<br><br>

<input type="file" id="docfile">

<br><br>

<button onclick="uploadDoc()">Upload DOC</button>

<script src="/static/script.js"></script>

</body>
</html>